h1{
	color:navy;
}
#label1{
	color:navy;
}

.withShadowText{
  	text-shadow: 2px 2px 4px #000000;
}

.withShadowImage{
	box-shadow: 2px 2px 4px #000000;
}

#legoBrick{

}

#legoBrick:hover{

	box-shadow: 2px 2px 4px #000000;

}





